<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_BSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CryptoEssentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MongoKitten</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PBKDF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SCRAM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SHA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Strand</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TodoList</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TodoListAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
